@font-face {
    font-family: 'blunext';
    src: url('../fonts/Minipax-Regular.ttf');
}

html, body{
    margin: 0;
    padding: 0;
}

html{
    background-color: rgb(38, 39, 46);
}

.empty{
    color: white;
    font-family: blunext;
}

.empty p{
    margin: 0;
    padding: 1px;
}

.empty .emoji{
    font-size: 80px;
}

.container{
    padding: 1em;
    text-align: center;
}

.small_button{
    font-size: small;
    padding: .3em;
    max-width: 30px;
    text-align: center;
    cursor: pointer;
}

a .small_button{
    color: white;
    text-decoration: none;
}

.container .title{
    color: white;
    font-family: blunext;
    font-size: 1rem;
    margin-top: 3em;
}

.yellow {
    color: rgb(232, 185, 14) !important;
    font-weight: 500;
}

input[type=text] {
    width: 70vw;
    padding: 6px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 1em;
    border: none;
    font-family: monospace;
    font-weight: bold;
  }

.results{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resultLine{
    border: 2px rgb(134, 144, 214) solid;
    background-color: rgb(43, 43, 43);
    color: white;
    border-radius: 3px;
    padding: .5em;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-family: monospace;
    font-size: 1.2em;
    margin: .2em;
}

.links{
    display: block;
}

.link a{
    color: white !important;
}

.xmr_link{
    color: white !important;
    text-decoration: underline;
    font-weight: bold;
}

.link .source{
    width: 15px;
    padding: 3px;
}

.icon{
    width: 10px;
}

.last_check{
    color: white;
    font-family: sans-serif;
    font-size: small;
}

.link .source:hover{
    padding: 3px;
    width: 13px;
    opacity: 80%;
    border: 1px solid white;
    border-radius: 5px;
}

.totalValue{
    color: white;
}

.totalValue .value{
    color: rgb(232, 185, 14);
    font-family: monospace;
}
.currency{
    max-width: 20px;
}

.searchButton{
    background-color: rgb(38, 39, 46); /* Green */
    border: 1px rgb(109, 112, 133) solid;
    border-radius: 5px;
    margin: .5em;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.infoXmr {
    max-width: 70vw;
    color: white;
    font-family: mono;
    margin: 1em;
    padding: 1.5em;
    text-align: center;
}

.infoXmr a{
    color: rgb(134, 144, 214);
    font-weight: bold;
}

.info{
    color: white;
    font-size: small;
    font-family: blunext;
}

.info .yellow{
    margin: 1px;
    padding: 1px;
    font-family: sans-serif !important;
}

.footer{
    padding: 2em;
    font-size: small;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer a{
    color: white;
    text-decoration: none;
    margin: 1em;
}