@font-face {
    font-family: 'blunext';
    src: url('../fonts/Minipax-Regular.ttf');
}

html, body{
    margin: 0;
    padding: 0;
}

html{
    background-color: rgb(38, 39, 46);
}

.container{
    padding: 1em;
    text-align: center;
    padding-top: 25vh;
}

.container .title{
    display: flex;
    justify-content: center;
    padding: 1em;
}

::placeholder { /* Most modern browsers support this now. */
    color:    rgb(187, 188, 165);
 }

.title img{
    max-width: 480px;
    width: 90vw;
}

.yellow {
    color: rgb(232, 185, 14) !important;
    font-weight: 500;
}

.title-link{
    text-decoration: none;
    color: white;
}

input[type=text] {
    width: 70vw;
    max-width: 400px;
    padding: 10px;
    margin: 8px;
    box-sizing: border-box;
    border-radius: 1em;
    border: none;
    font-family: monospace;
    font-weight: bold;
  }

.searchButton{
    background-color: rgb(38, 39, 46); /* Green */
    border: none;
    margin: .5em;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}

.total-addresses{
    color: white;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.3em;
    margin-top: 1em;
}

.info{
    color: white;
    font-size: small;
    font-family: blunext;
}

.info .yellow{
    margin: 1px;
    padding: 1px;
    font-family: sans-serif !important;
}

.footer{
    padding: 2em;
    font-size: medium;
    font-family: monospace;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer a{
    color: white;
    text-decoration: none;
    margin: 1.5em;
}