<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/fonts/fa/css/all.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../static/css/results.css">
    <link href="../static/css/cryptofont.css"rel="stylesheet">
    {% if address != None%}
        <title>ISYC: {{address['address'][0:3]}}...</title>
    {% else %}
        <title>ISYC: not found</title>
    {% endif %}
</head>
<body>
    
    <div class="container">
        <a style="text-decoration: none;" href="/">
            <div class="small_button">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M11 15l-3-3m0 0l3-3m-3 3h8M3 12a9 9 0 1118 0 9 9 0 01-18 0z" />
                  </svg>
            </div>
        </a>

        {% if address != None%}
            <div class="title">
                <h1>I know  <span class="yellow">{{address['address'][0:5]}}...</span> it's yours.</h1>
            </div>
        {% else %}
            <div class="title">
                <h1>I don't know the owner <span class="yellow">yet</span>... </h1>
            </div>
        {% endif %}

        <div class="results">
            <!--<div class="totalValue">
                <h3>Total: <span class="value">$16234</span></h3>
            </div>-->
            {% if address != None %}
                {% for user in address['users'] %}
                    <div class="resultLine">
                        <img class="currency" src="../static/icons/{{address['currency']}}.svg" alt="">
                        <span class="address">{{user}}</span>
                        {% for link in address['urls'] %}
                            {% if user in link %}
                                <span class="link"><a target="_blank" href="https://farside.link/nitter{{link}}"><img class="source" src="../static/icons/link.svg" alt=""></a></span>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}

                {% if address['users'] | length == 0 %}
                    <div class="empty">
                        <p class="emoji">🤔</p>
                        <p>No users found for this <b style="color: rgb(232, 185, 14);">address</b>!</p>
                    </div>
                {% endif %}
            {% else %}
                <div class="empty">
                    <p class="emoji">😵</p>
                    <p><b style="color: rgb(232, 185, 14);">The address</b> does not exist in any source!</p>
                    <small>Or it could be a new error. If the user exists, please report it!</small>
                </div>
            {% endif %}
        </div>
        <div class="footer">
            <a href="/about">❔ About</a>
            <a href="/about#support">🤍 Support</a>
            <a href="https://codeberg.org/pluja/iseeyourcash">📜 Source</a>
        </div>
    </div>

</body>
</html>