<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/fonts/fa/css/all.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>I see your cash</title>
</head>
<body>
    
    <div class="container">
        <div class="title">
            <img src="../static/img/logo.webp" alt="I see your cash (powered by transparent blockchains)">
        </div>
        <div class="search">
            <form action="/search">
                <input type="text" name="q" id="q" placeholder="username">
            </form>
            <div class="total-addresses"><span class="yellow"><b>{{total_addresses}}</b></span> addresses in database.</div>
        </div>
        <div class="footer">
            <a href="/about"><i class="fa-solid fa-circle-question"></i> About</a>
            <a href="/about#support"><i class="fa-solid fa-hand-holding-heart"></i> Support</a>
            <a href="https://codeberg.org/pluja/iseeyourcash"><i class="fa-solid fa-scroll"></i> Source</a>
        </div>
    </div>

</body>
</html>