<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/fonts/fa/css/all.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../static/css/results.css">
    <link href="../static/css/cryptofont.css"rel="stylesheet">
    <title>ISYC: {{user['username']}}</title>
</head>
<body>
    
    <div class="container">
        <a style="text-decoration: none;" href="/">
            <div class="small_button">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M11 15l-3-3m0 0l3-3m-3 3h8M3 12a9 9 0 1118 0 9 9 0 01-18 0z" />
                  </svg>
            </div>
        </a>

        <div class="title">
            {% if addresses|length == 0 %}
                {% if not non_existent %}
                    <h1>I can't see your <span class="yellow"> cash</span>, {{user['username']}}</h1>
                {% else %}
                    <h1>I can't see your <span class="yellow"> cash</span>, {{user}}</h1>
                {% endif %}
            {%else%}
                <h1>I see your <span class="yellow"> cash</span>, {{user['username']}}</h1>
            {%endif%}
            {% if user['username'] == "kycnot" %}
                <p>Addresses for user <b>kycnot</b> are fake. This is a testing user.</p>
            {% endif %}
        </div>
        <div class="results">
            <!--<div class="totalValue">
                <h3>Total: <span class="value">$16234</span></h3>
            </div>-->
            {% if not non_existent %}
                <p class="last_check"><img src="../static/icons/history.svg" alt="Last check" class="icon"> <span class="value">{{user['last_check']}}</span></p>

                {% for address in addresses %}
                    <div class="resultLine">
                        <img class="currency" src="../static/icons/{{address['currency']}}.svg" alt="">
                        <span class="address">{{address['address'][:4]}}...{{address['address'][-3:]}}</span>
                        
                        {% if address['balance'] %}
                            <span class="address" style="font-weight: bold;">${{address['balance']}}</span>
                        {% endif %}

                        <span class="link"><a target="_blank" href="https://farside.link/nitter{{address['urls'][0]}}"><i class="fa-solid fa-up-right-from-square"></i></a></span>

                        {% if address['currency'] == 'btc' %}
                            <span class="link"><a href="https://blockchair.com/bitcoin/address/{{address['address']}}"><i class="fa-solid fa-eye"></i></a></span>
                        {% endif %}

                        {% if address['currency'] == 'eth' %}
                            <span class="link"><a href="https://blockchair.com/ethereum/address/{{address['address']}}"><i class="fa-solid fa-eye"></i></a></span>
                        {% endif %}
                    </div>
                {% endfor %}

                {% if addresses|length == 0 %}
                    <div class="empty">
                        <p class="emoji">🤔</p>
                        <p>No addresses found for <b style="color: rgb(232, 185, 14);">{{user['username']}}</b>!</p>
                        <p>Could be a <a class="xmr_link" target="_blank" href="https://getmonero.org">Monero</a> owner? We'll never know!</p>
                    </div>
                {% endif %}
            {% else %}
                <div class="empty">
                    <p class="emoji">😵</p>
                    <p><b style="color: rgb(232, 185, 14);">{{user}}</b> does not exist in any source!</p>
                    <small>Or it could be a new error. If the user exists, please report it!</small>
                </div>
            {% endif %}

            <div class="infoXmr">
                <p>When using cryptocurrencies with a <b>transparent blockchain</b>, all your activity is open to surveillance. If "{{user['username']}}" had used <a href="https://getmonero.org">Monero (XMR)</a> we could know nothing about it!</p>
            </div>
        </div>
        
        <div class="footer">
            <a href="/about">❔ About</a>
            <a href="/about#support">🤍 Support</a>
            <a href="https://codeberg.org/pluja/iseeyourcash">📜 Source</a>
        </div>
    </div>

</body>
</html>